<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="../styles/main.css"> 
    </head>
    <body>
        <%- include header.ejs %>

        <h1>Transfer</h1>
        <form method="get" action="/send">
            From：
            <select name="from">
                <% accounts.forEach(function(account, index){ %>
                <option value ="<%= account %>"><%= account %></option>
                <% }) %>
            </select>
            <br />
            To:
            <select name="to">
                <% accounts.forEach(function(account, index){ %>
                <option value ="<%= account %>"><%= account %></option>
                <% }) %>
            </select>

            <select name="token">
                <option value ="ETH">ETH</option>
            </select>

            <br />
            金额: <input type="text" name="amount" /> ETH
            <br />
            密码：<input type="password" name="password" />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </body>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/home.js"></script>
</html>